<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/login.css" />
    <title>Login</title>
  </head>
  <body>
    <section class="form-register">
      <h4>Login</h4>
      <input class="complete" type="text" name="user_name"  placeholder="Put your username here"/>
      <input class="complete" type="password" name="password" id="contrasena" placeholder="Put your password here"/>
      <input class="buttons" type="submit" value="Iniciar sesion">
      <p><a href="/templates/password_reset.html" target="_blank">Olvide mi Contraseña</a></p>
    </section>
  </body>
</html>