<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/register.css" />
    <title>Iniciar sesión</title>
  </head>
  <body>
    <section class="form-register">
      <h4>Iniciar sesión</h4>

      <form method="POST">
        <input type="email" class="complete" name="email" placeholder="Email" required>
        
        <input type="password" class="complete" name="password" placeholder="Contraseña" required>
        
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>

      <p><a href="{{ url_for('user_bp.new_user_form') }}">¿No tienes una cuenta? Regístrate</a></p>
      <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    </section>
  </body>
</html>