<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='myprof.css') }}" />

    <title>Perfil de Usuario</title>
  </head>
  <body>
    <section class="form-register">
      <h4>Perfil de Usuario</h4>

      {% if 'user_id' in session %}
        <p class="imgpfp">
            <strong>Foto de perfil</strong>
            <img class="pfp" src="{{ user.image_url }}" alt="Imagen de usuario" />
          </p>
          <p><strong>Nombre de usuario:</strong> {{ user.user_name }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><a href="{{ url_for('user_bp.index')}}">Inicio</a></p>

        <form id="deleteForm" method="POST" action="{{ url_for('user_bp.delete_user', user_id=user.id) }}">
            <input type="hidden" name="_method" value="DELETE">
            <button class="delete" type="submit">Eliminar cuenta</button>
        </form>

        <a href="{{ url_for('user_bp.logout') }}" class="buttons" id="cerrar_sesion">Cerrar sesión</a>
      {% else %}
        <p>No estás logueado. <a href="{{ url_for('user_bp.login') }}">Iniciar sesión</a></p>
      {% endif %}
    </section>

    <div class="main-content">
      <h3>Posts de {{ user.user_name }}</h3>
      <div class="posts-container">
        {% for post in posts %}
          <div class="post">
            <h4>{{ post.title }}</h4>
            <p>{{ post.content }}</p>
            {% if post.image_url %}
            <img src="{{ url_for('static', filename=post.image_url) }}" alt="Imagen del post" style="max-width: 300px;">
            {% endif %}
            <form action="{{ url_for('user_bp.delete_post', post_id=post.id) }}" method="POST">
              <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta publicación?')">Eliminar</button>
            </form>
            <hr>
          </div>
        {% else %}
          <p>No has hecho ningún post aún.</p>
        {% endfor %}
      </div>

      <form id="profileForm" method="POST" action="{{ url_for('user_bp.create_post') }}" enctype="multipart/form-data">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required>

        <label for="content">Contenido:</label>
        <textarea id="content" name="content" required></textarea>

        <label for="postImage">Imagen del post:</label>
        <input type="file" id="postImage" name="postImage" accept="image/*">

        <button type="submit">Publicar</button>
      </form>
    </div>

    <script>
      document.getElementById('deleteForm').addEventListener('submit', function(event) {
        event.preventDefault();
        if (confirm('¿Estás seguro de que deseas eliminar tu cuenta?')) {
          this.submit();
        }
      });
    </script>
  </body>
</html>
