<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/register.css" />
    <title>Resgister</title>
  </head>
  <body>
    <section class="form-register">
      <h4>Register</h4>
      <input class="complete" type="text" name="user_name"  placeholder="Put your username here"/>
      <input class="complete" type="email" name="email" placeholder="Put your email here"/>
        <input class="complete" type="password" name="password"  placeholder="Put your password here"/>
      <input class="complete" type="text" name="image_url">
      <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
      <input class="buttons" type="submit" value="Registrarse" />
      <p><a href="/templates/login.html">¿Ya tengo una cuenta?</a></p>
      <p><a href="#">Olvide mi Contraseña</a></p>
    </section>
  </body>
</html>
