<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/register.css" />
    <title>Register</title>
  </head>
  <body>
    <section class="form-register">
      <h4>Registrarse</h4>
      <form method="POST" action="{{ url_for('user_bp.create_user') }}">
        <input class="complete" type="text" name="user_name" placeholder="Pon tu nombre de usuario aquí" value="{{ user.user_name if user else '' }}" />
        <input class="complete" type="email" name="email" placeholder="Pon tu email aquí" value="{{ user.email if user else '' }}" />
        <input class="complete" type="password" name="password" placeholder="Pon tu contraseña aquí" />
        <input class="complete" type="url" name="image_url" placeholder="Pon tu foto de perfil aquí" value="{{ user.image_url if user else '' }}" />
        
        <p>Estoy de acuerdo con <a href="#">Términos y Condiciones</a></p>
        
        <form action="{{ url_for('user_bp.login') }}" method="get">
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
      </form>

      <p><a href="{{ url_for('user_bp.login') }}">¿Ya tienes una cuenta? Inicia sesión</a></p>
      <p><a href="#">Olvidé mi Contraseña</a></p>
    </section>
  </body>
</html>