<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>
    <link rel="stylesheet" href="../static/report.css">
</head>
<body>
    <div> 
    <h1 >¿Cual es la razón de su reporte?</h1>
    <div>
    <form class="XD">
        <input name="report"   value="report" type="text" placeholder="Razon del reporte..." id="razon">
        <input value="Enviar"   type="button" id="button">
    </form>
   </div>
</body>
</html>