<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
</head>
<header>
  <a href="index.html"><h1>Blog</h1></a>
  <a href="login.html">Iniciar sesión</a>
  <a href="miperfil.html">Mi perfil</a>
  <nav>
   <form action="" method="post" target="_self">
    <input id="search" type="text" placeholder="Buscar...">
    <input type="button" value="Buscar">
   </form>
  </nav>
</header>
   <aside>
    <ul>
      <li><a href="index.html">Principal</a></li>
      <li><a href="popular.html">Popular</a></li>
    </ul>
    <label for:="Tema">Tema</label>
    <select id="Tema" name="Tema">
      <option value="Tecnología">Tecnología</option>
      <option value="Recetas">Recetas</option>
      <option value="Series y peliculas">Series y peliculas</option>
    </select>
    <a href="temanuevo.html">Crear tema</a>
    <a href="report.html">Reportar usuario</a>
   </aside>
</html>