/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #2d2d2d;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header {
    background-color: #121212;
    padding: 20px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header img {
    max-width: 100%;
    height: auto;
}

.busqueda input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.submit{
    background-color: #121212;
    border: #121212;
    cursor: pointer;
}

.busqueda i {
    background-color: #121212;
    color: #fff;
    font-size: 1.2rem;
    border: #121212;;
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation ul li {
    margin-left: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Main content */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}

.main h3,
.main h4 {
    text-align: center;
    color: #3e58af;
}

.post {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.post h5 {
    color: #3e58af;
}

.post p {
    color: #bbb;
    margin-bottom: 10px;
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.post a {
    display: inline-block;
    margin-top: 10px;
    color: #1e3fa9;
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid #555;
    margin: 20px 0;
}

.aside {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
}

.aside ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.aside ul li {
    margin-bottom: 10px;
}

.aside ul li a {
    text-decoration: none;
    color: #1e3fa9;
}

.social {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.social div {
    margin-bottom: 10px;
}

.social p {
    color: #fff;
    margin-bottom: 5px;
}

.social img {
    width: 30px;
    height: 30px;
}

.foot {
    background-color: #121212;
    color: #bbb;
    padding: 20px;
    text-align: center;
}

.footer-content p {
    margin-bottom: 20px;
}

.footer-content a {
    color: #1e3fa9;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.sitemap ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.sitemap ul li {
    margin-bottom: 10px;
}

.sitemap ul li a {
    text-decoration: none;
    color: #1e3fa9;
}

.sitemap ul li a:hover {
    text-decoration: underline;
}

.logotype{
    border-radius: 50%;
}
